body {
  font-weight: 400;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #555;
}

#top-section {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  box-sizing: inherit;
  margin: auto;
}

@media (max-width: 575px) {
  .container {
    max-width: 540px;
  }
  #avatar-container {
    display: none;
  }
}

@media (min-width: 576px) /*and (max-width: 799px)*/ {
  .container {
    max-width: 540px;
  }
  #avatar-container {
    display: none;
  }
}

@media (min-width: 800px) /*and (max-width: 991px)*/ {
  .container {
    max-width: 800px;
  }

  #avatar-container {
    display: block;
  }

  .skill-column {
    max-width: 41.666666%;
    flex: 0 0 41.666666%;
  }

  .card-image-container {
    max-width: 41.666666%;
  }

}

@media (min-width: 992px) /*and (max-width: 1199px)*/ {
  .container {
    max-width: 960px;
  }

  #avatar-container {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  #avatar-container {
    display: block;
  }
}

#main-header {
  /* background-image: url("headshot-avatar-bw.jpg"); */
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background: linear-gradient(54deg, rgba(213, 216, 55, .95) 34%, hsla(60, 34%, 71%, .95));
  width: 100%;
}

#avatar-container {
  position: relative;
  float: left;
  padding-right: 45px;
}

#avatar-image {
  position: relative;
  top: 40px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 5px;
}

#contact-container {
  font-family: 'Roboto Mono', monospace;
  float: left;
  clear: right;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-term {
  font-weight: 700;
  float: left;
}

.contact-value {
  padding-left: 120px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.personal-name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0px;
}

.personal-job {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 24px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.white-section {
  padding: 60px 15px 60px 15px;
  margin: auto;
  width: 100%;
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.svg-container {
  padding-right: 10px;
  position: relative;
  bottom: 2px;
}

.download-text {
  padding-right: 5px;
  font-size: 14px;
  text-align: center;
}

.title-text {
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
}

.small-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: #999;
  padding-top: 20px;
}

.timelines-container {
  width: 66%;

}

.resume-block:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: -7px;
  border: 2px solid rgba(213, 216, 55, .95);
  content: "";
  border-radius: 50%;
  background-color: #fff;
}

.resume-block {
  position: relative;
  padding: 0px 0px 40px 25px;
  border-left: 2px solid rgba(213, 216, 55, .95);
}

.resume-entry-title {
  font-family: 'Roboto Mono', monospace;
  color: rgba(213, 216, 55, .95);
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
  line-height: 20px;
  padding-bottom: 5px;


}

.resume-entry-date {
  color: #999;
  font-size: 12px;
  margin: 0px;
  line-height: 20px;

}

.last-block {
  padding-bottom: 0px;
}

hr {
  margin: 0;
}

.skillbox {
  display: flex;
  flex-wrap: wrap;

}

.skill-column {
  width: 100%;
  margin-right: auto;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  float: left;
}

.skill-name {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 10px 0;
  line-height: 20px;
}

.card-image-container {
  width: 100%;
}
