body {
  font-weight: 400;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #555;
}

html {
  scroll-behavior: smooth!important;
}

#top-section {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  box-sizing: inherit;
  margin: auto;
  padding-top: 90px;
}

@media (max-width: 575px) {
  .container {
    max-width: 540px;
  }
  #avatar-container {
    display: none;
  }
  .menu-nav {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .contact-table {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  #avatar-container {
    display: none;
  }
  .menu-nav {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .contact-table {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }
  #avatar-container {
    display: block;
  }
  .menu-nav {
    display: block;
  }
  .fa-bars {
    display: none;
  }
  .mobile-menu {
    display: none!important;
  }
  .skill-column {
    max-width: 41.666666%;
    flex: 0 0 41.666666%;
  }
  .card-image-container {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .card-image {
    height: 100%!important;
  }
  .project-info-container {
    max-width: 50;
    flex: 0 0 50%;
  }
  .contact-table {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .card-image-container {
    max-width: 41.666666%;
    flex: 0 0 41.666666%;
  }

  .project-info-container {
    max-width: 58.333333%;
    flex: 0 0 58.333333%;
  }

  /* .card-image {
     height: 20vw!important;
  }
  .project-card {
     height: 30vw;
  } */

  .modal-body {
    max-width: 75%!important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#main-header::before {
  background: linear-gradient(54deg, rgba(213, 216, 55, .80) 34%, hsla(60, 34%, 71%, .80));
  height: 490px;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: 0;
}

#main-header {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 490px;
  width: 100%;
}

.no-webp #main-header {
  background-image: url('https://kieferfolio.s3.us-west-2.amazonaws.com/FolioFiles/tech-background.jpg');
}

.webp #main-header {
  background-image: url('https://kieferfolio.s3.us-west-2.amazonaws.com/FolioFiles/tech-background.webp');
}

#avatar-container {
  position: relative;
  float: left;
  padding-right: 60px;
}

#avatar-image {
  position: relative;
  top: 40px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 5px;
}

#contact-container {
  font-family: 'Roboto Mono', monospace;
  float: left;
  clear: right;
  margin-top: 40px;
  padding-right: 15px;
}

.contact-term {
  font-weight: 700;
  float: left;
  opacity: 0.7;
}

.contact-value {
  padding-left: 120px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.personal-name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0px;
}

.personal-job {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 24px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.white-section {
  padding: 60px 15px 60px 15px;
  margin: auto;
  width: 100%;
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.svg-container {
  padding-right: 10px;
  position: relative;
  bottom: 2px;
}

.download-text {
  padding-right: 5px;
  font-size: 14px;
  text-align: center;
}

.title-text {
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
}

.small-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: #999;
  padding-top: 20px;
}

.timelines-container {
  width: 66%;
}

.resume-block:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: -7px;
  border: 2px solid rgba(213, 216, 55, .95);
  content: "";
  border-radius: 50%;
  background-color: #fff;
}

.resume-block {
  position: relative;
  padding: 0px 0px 40px 25px;
  border-left: 2px solid rgba(213, 216, 55, .95);
}

.resume-entry-org {
  font-family: 'Roboto Mono', monospace;
  color: rgba(213, 216, 55, .95);
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
  line-height: 20px;
  padding-bottom: 5px;
}

.resume-entry-date {
  color: #999;
  font-size: 12px;
  margin: 0px;
  line-height: 20px;
}

.resume-entry-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.last-block {
  padding-bottom: 5px;
  margin-bottom: 30px;
}

hr {
  margin: 0;
}

.skillbox {
  display: flex;
  flex-wrap: wrap;
}

.skill-column {
  width: 100%;
  margin-right: auto;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
}

.skill-name {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 10px 0;
  line-height: 20px;
}

.card-image-container {
  width: 100%;
}

.card-image {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  border-radius: calc(0.25rem - 1px);
  border-style: none;
  vertical-align: middle;
}

.project-info-container {
  width: 100%;
  padding: 50px 50px 40px 30px;
  box-sizing: border-box;
  position: relative;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row!important;
  transition: box-shadow 0.3s;
  border: 1px solid #f1f1f1;
  box-sizing: content-box;
  margin-bottom: 40px;
}

.card-link-wrapper {
  float: right;
  margin-top: 50px;
}

/* .modal-link-wrapper {

} */

.link {
  color: rgba(213, 216, 55, .95);
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 16px;
}

.link:hover {
  color: rgba(213, 216, 55, .95);
}

.project-card:hover {
  cursor: pointer;
  box-shadow: 0 1px 31px rgba(0, 0, 0, .09);
}

.project-title {
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 0px;
  font-weight: 500;
}

.project-description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.project-tech {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-right: 15px;
}

.tags {
  padding-inline-start: 0px;
}

.tags li {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  list-style: none;
}

.modal-tech {
  display: flex;
  margin-top: 40px;
}

.social-bar {
  margin-top: 25px;
}

.fa {
  font-size: 30px;
  text-decoration: none!important;
  color: #555;
  opacity: 0.6;
  position: relative;
  bottom: 0;
  margin-right: 40px;
}

.fa:hover {
  color: #fff;
  transition: color 0.3s;
  transition: opacity 0.3s;
  opacity: 0.9;
}

.fa-bars {
  opacity: 1!important;
  width: fit-content;
  margin-bottom: 10px;
}

.fa-bars:hover {
  opacity: 0.5!important;
  color: #555!important;
  cursor: pointer;
}

.nav-options {
  padding-left: 0;
}

.nav-options li {
  list-style: none;
  display: inline-block;
}

.nav-options a:hover {
  opacity: 0.5;
}

.nav-options a {
  font-size: 14px;
  line-height: 20px;
  margin-right: 60px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: #555;
  font-weight: 500;
  text-decoration: none;
}

.fixed-menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: all 0.6s;
}

.fixed-menu.scrolled {
  background-color: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .14);
}

.menu-container.scrolled {
  margin-top: 10px;
}

.menu-container {
  width: 100%;
  margin-top: 50px;
  transition: all 0.6s;
}

.mobile-menu.active {
  width: 100%;
  height: 100%;
  top: 0px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 50px;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, .8);
  overflow: hidden;
  transition: all 0.5s;
}

.mobile-nav {
  text-align: center;
}

.mobile-nav ul {
  padding-inline-start: 0px;
}

.mobile-nav li {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  width: fit-content;
  margin: auto;
  font-family: 'Roboto', monospace;
  font-size: 14px;
  text-transform: uppercase;
}

.mobile-nav a {
  text-decoration: none!important;
  color: #fff!important;
}

.mobile-nav li:hover {
  cursor: pointer;
  opacity: 0.5;
}

.close-mobile-menu {
  padding: 15px 15px 15px 8px;
  margin: 48px 0px 20px 0px;
  font-family: 'Roboto', monospace;
  font-size: 20px;
  width: fit-content;
  line-height: 1px;
  color: #fff;
}

.close-mobile-menu.scrolled {
  margin-top: 8px;
  margin-bottom: 60px;
  transition: all 0.6s;
}

.close-mobile-menu:hover {
  cursor: pointer;
}

.right {
  float: right;
  clear: right;
}

.bottom-marg {
  margin-bottom: 30px;
}



/* bootstrap custom css */

.btn-download {
  background-color: rgba(213, 216, 55, .95);
  color: white;
}

.btn-download:hover {
  color: white;
  background-color: rgba(217, 219, 91, 0.95);
}

.progress-bar {
  background-color: rgba(217, 219, 91, 0.95);
}

.progress {
  height: 6px;
  margin-bottom: 30px;
}

.modal-header {
  border: none;
}

.modal-title {
  font-family: 'Roboto', monospace;
  margin: auto;
  margin-bottom: 30px;
}

.modal-body {
  max-width: 90%;
  margin: auto;
}

.modal-image {
  width: 100%;
  vertical-align: middle;
}

.close {
  font-weight: 300;
  font-size: 20px;
  color: #999;
}

.close:hover {
  opacity: 0.75;
  transition: color 0.4s;
}